<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928900514871-th21f60f2jkitjrsbs0lej64sub8ggs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928900514871-th21f60f2jkitjrsbs0lej64sub8ggs8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928900514871-ql8g4kdoa44olr41enokp0l3prmh7v2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGkB0VP1Vj46As9gXFQC9eTLXDkRCF22c</string>
	<key>GCM_SENDER_ID</key>
	<string>928900514871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplylaundry</string>
	<key>PROJECT_ID</key>
	<string>simply-laundry</string>
	<key>STORAGE_BUCKET</key>
	<string>simply-laundry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928900514871:ios:00176af13098198c</string>
	<key>DATABASE_URL</key>
	<string>https://simply-laundry.firebaseio.com</string>
</dict>
</plist>